<div ng-controller="ArticlesCreateController as acc">
    <h3>Add Article</h3>
    <form ng-submit="acc.addArticle()">
        <div class="form-group">
            <label>Article Title</label>
            <input type="text" class="form-control" ng-model="acc.title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-model="acc.category" name="category">
                <option ng-repeat="category in acc.categories" value="{{category.name}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Body Text</label>
            <textarea class="form-control" ng-model="acc.body" placeholder="Enter Article Body"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
        <a class="btn btn-danger" href="#!/categories">cancel</a>
    </form>
</div>