<div ng-controller="ArticlesController as ac">
    <h3 class="heading">Articles</h3>
    <a href="#!/categories">Go Back</a>
    <div class="row">
        <div class="articles">
            <div class="col-md-12" ng-repeat="article in ac.articles">
                <div class="article">
                    <h3>{{article.title}}</h3>
                    <p>{{article.body | limitTo:50}}</p>
                    <a class="btn btn-default" href="#!/articles/details/{{article._id}}">Read Article</a>
                </div>
                <div ng-if="!ac.articles">
                    No articles to display
                </div>
            </div>
        </div>
    </div>
</div>